    /* .link {
    color: white;
    list-style-type: none;
    padding: 10px;
    border: 3px solid #42FBF2;
    margin-top: 30px;
    
}





/* header {
    display: flex;
    justify-content: space-between;
} */
    
    nav {
        background-color: #222;
        padding: 5px
    }
    
    ul {
        list-style-type: none;
    }
    
    li {
        font-size: 16px;
        padding: 15px 5px;
        white-space: nowrap;
        color: white;
    }
    
    .Navbar {
        display: flex;
    }
    
    .link:hover {
        background-color: white;
        color: black;
        padding: 10px;
    }
    
    .Navbar .link {
        transition: 0.4s;
        border-radius: 99px;
    }
    
    .line1 {
        background-color: white;
        width: 25px;
        height: 5px;
        margin: 5px;
        margin-right: 30px;
    }
    
    .Menunav {
        margin-top: 10px;
        display: none;
    }
    /* @media screen and (max-width: 1024px) {
        Navbar {
            width: 10%;
        }
    } */